.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 12%, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.wapperModal {
  background-color: var(--neutral-200);
  padding: 24px;
  border-radius: 16px;
  max-width: 1200px;
  width: 100%;
}
.contentTask {
  max-width: 710px;
  width: 100%;
  background-color: var(--white-primary);
  padding: 20px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  p {
    position: relative;
    word-break: break-all;
    text-wrap: balance;
    &:not(:last-child) {
      margin: 0 0 8px;
    }
  }
  a {
    color: var(--blue-primary);
  }
}
.nameTask {
  font-weight: 600;
  font-size: 20px;
}
.description {
}

.editor-paragraph {
}
