//combox
.combobox-container {
  position: relative;

  width: 100%;
  input {
    &::placeholder {
      color: var(--neutral-500);
    }
  }
}
.label {
  color: var(--neutral-500);
  margin-bottom: 6px;
  display: inline-block;
}
.combobox-input {
  color: var(--neutral-500);
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--neutral-200);
  transition: border-color 0.3s ease-in-out;
}

.combobox-input:focus {
  border-color: var(--blue-primary);
  outline: none;
}

.combobox-options {
  color: var(--neutral-500);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  scrollbar-color: rgb(171, 190, 209) rgb(244, 246, 248);
  scrollbar-width: thin;
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  box-shadow: 0px 0px 5px var(--neutral-200);
}

.combobox-option {
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.combobox-option:hover {
  background-color: var(--neutral-200);
}

.combobox-option.selected {
  background-color: var(--neutral-200);
}

.no-matches {
  padding: 10px;
  font-size: 14px;
  color: #999;
  text-align: center;
}

.combobox-input-active {
  border-color: var(--neutral-200);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--blue-primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
