.project-card {
  background-color: var(--neutral-200);
  border-radius: 8px;
  width: 100%;
  min-height: 124px;
  padding: 16px;
  border: 1px solid transparent;
  position: relative;
  transition: 0.4s;
  z-index: 1;
  &:hover {
    border: 1px solid var(--blue-primary);
    .project-card__favorite-btn {
      opacity: 1;
    }
  }
  &__name {
    margin-bottom: 12px;
    font-weight: 600;
  }
  &__logo {
    margin-bottom: 12px;
  }
  &__count {
    font-size: 12px;
    color: var(--neutral-500);
  }
  &__favorite-btn {
    position: absolute;
    right: 16px;
    transition: 0.4s;
    opacity: 0;
    z-index: 2;
    svg {
      transition: 0.4s;
    }
    &:hover {
      svg {
        filter: drop-shadow(0px 0px 0.8px var(--blue-primary));
      }
    }
  }
}
