@use './reset.scss';
@use './variables/colors.scss';
@use './variables/fonts.scss';
@use './variables/effects.scss';
@use './variables/spacing.scss';
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ds-custom-loading {
  position: relative;
  padding: 10px;
  margin: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__circle {
    filter: invert(1);
  }
  &__feature {
    position: absolute;
    top: 0;

    animation: rotate 3s linear infinite;
    transform-origin: bottom;
  }
}
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}
