.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header,
.footer {
  background-color: var(--neutral-200);
  border: 1px solid var(--grey-border);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 31px 10px 14px;
}
.header__content button {
  height: 40px;
}
.main {
  flex: 1;
}

.footer__content {
  padding: 15px;
}
.footer__content ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.footer__content ul li {
  margin-left: 20px;
  font-size: var(--body-1-size);
  font-weight: 600;
}
