.project-kanban {
  &__header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
    &_left {
      gap: 24px;
      display: flex;
    }
    &_right {
      button {
        height: 40px;
      }
    }
  }
  &__tasks-wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(171, 190, 209) rgb(244, 246, 248);
  }
  &__tasks-container {
    display: flex;
    gap: 16px;
    min-width: max-content;
  }
}
