.project-kanban {
  &__header {
    margin-bottom: 24px;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
  }
  &__filters {
    margin-bottom: 40px;
    // flex: 1 0 auto;
  }
  &__tasks-wrapper {
    // overflow: hidden;
    // margin: 0px -32px;
    // padding: 0px 32px;
    // overflow: scroll;
    // scrollbar-width: thin;
    height: 100%;
  }
  &__tasks-container {
    scrollbar-width: thin;
    scrollbar-color: rgb(171, 190, 209) rgb(244, 246, 248);
    overflow-y: hidden;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(8, minmax(264px, 1fr));
    height: 100%;
    gap: 16px;
  }
}
