.project-kanban {
  &__header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
  }
  &__filters {
    margin-bottom: 40px;
  }
  &__tasks-wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(171, 190, 209) rgb(244, 246, 248);
  }
  &__tasks-container {
    display: flex;
    gap: 16px;
    min-width: max-content;
  }
  &__inputs {
    display: flex;
    gap: 16px;
  }
  &__input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    input {
      border: 1px solid #000;
    }
  }
}

.switch-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 32px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid var(--neutral-500);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    border: 1px solid transparent;
    background-color: var(--blue-primary);
    .switch-thumb {
      background-color: var(--white-primary);
    }
  }

  .switch-thumb {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: var(--neutral-500);
    border-radius: 50%;
    top: 1.5px;
    left: 1.5px;
    transition: transform 0.3s ease;

    &.active {
      transform: translateX(16px);
    }
  }
}

.switch-element {
  display: flex;
  align-items: center;
  gap: 8px;
  &__text {
    color: var(--neutral-500);
  }
}

//combox

.combobox-container {
  position: relative;
  width: 100%;
}

.combobox-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
}

.combobox-input:focus {
  border-color: var(--blue-primary);
  outline: none;
}

.combobox-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
}

.combobox-option {
  padding: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.combobox-option:hover {
  background-color: var(--blue-primary);
  color: #fff;
}

.combobox-option.selected {
  background-color: var(--blue-primary);
  color: #fff;
}

.no-matches {
  padding: 10px;
  font-size: 14px;
  color: #999;
  text-align: center;
}

.combobox-input-active {
  border-color: var(--blue-primary);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--blue-primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
