.project-kanban {
  &__header {
    margin-bottom: 24px;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
  }
  &__filters {
    margin-bottom: 40px;
  }
  &__tasks-wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(171, 190, 209) rgb(244, 246, 248);
  }
  &__tasks-container {
    display: flex;
    gap: 16px;
    min-width: max-content;
  }
}
