:root {
  --black-primary: #1b1a1d;
  --white-primary: #ffffff;
  --grey-primary: #798fa5;
  --grey-secondary: #abbed1;
  /* Neutral colors */
  --neutral-700: #222222;
  --neutral-600: #787878;
  --neutral-500: #a6a6a6;
  --neutral-400: #d2d2d2;
  --neutral-300: #eeeeee;
  --neutral-200: #f4f6f8;
  --grey-border: #d9d9d9;

  /* purple colors */
  --purple-primary: #6457fa;
  --purple-bright: #c554f5;
  --purple-light: #a29afc;
  --purple-extra-light: #d1cdfe;
  --purple-light-background: #f0eeff;

  /* pink colors */
  --pink-primary: #ea5471;
  --pink-secondary: #eb597b;

  /* blue colors */
  --blue-primary: #3787eb;
  --blue-light: #dbedff;
  --blue-light-background: #eef5fc;
  --blue-dark: #0053ad;
  --blue-dark-background: #4761ee;

  /* lagoon colors */
  --lagoon-background: #18bace;
  --lagoon-light: #e9fafc;

  /* green colors */
  --green-primary: #32c997;
  --green-dark: #009262;
  --green-light: #84dfc1;
  --green-light-background: #f1fbf8;

  /* orange colors */
  --orange-primary: #ff6e41;
  --orange-light-background: #fff1ec;

  /* yellow colors */
  --yellow-primary: #ffa826;
  --yellow-dark: #e48900;
  --yellow-light: #ffb240;
  --yellow-extra-light: #ffc670;
  --yellow-ultra-light: #ffd596;
  --yellow-light-background: #fff8ec;

  /* red colors */
  --red-primary: #ff5a4f;
  --red-secondary: #e01507;
  --red-dark: #c33025;
  --red-light: #e02b1d;
  --red-extra-light: #f0857d;
  --red-light-background: #fff1f0;

  --font-main: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --spacing-base: 8px;
}
