:root {
  --font-family: 'Inter', sans-serif;

  /* Headlines (Desktop) */
  --headline-1-size: 64px;
  --headline-1-line-height: 76px;
  --headline-1-weight: 600;

  --headline-2-size: 32px;
  --headline-2-line-height: 44px;
  --headline-2-weight: 600;

  --headline-3-size: 28px;
  --headline-3-line-height: 36px;
  --headline-3-weight: 600;

  --headline-4-size: 20px;
  --headline-4-line-height: 28px;
  --headline-4-weight: 600;

  /* Headlines (Mobile) */
  --headline-1-mobile-size: 28px;
  --headline-1-mobile-line-height: 36px;
  --headline-1-mobile-weight: 600;

  --headline-2-mobile-size: 20px;
  --headline-2-mobile-line-height: 28px;
  --headline-2-mobile-weight: 600;

  --headline-3-mobile-size: 18px;
  --headline-3-mobile-line-height: 24px;
  --headline-3-mobile-weight: 600;

  --headline-4-mobile-size: 16px;
  --headline-4-mobile-line-height: 20px;
  --headline-4-mobile-weight: 600;

  /* Body (Desktop) */
  --body-1-size: 18px;
  --body-1-line-height: 28px;
  --body-1-weight: 400;

  --body-2-size: 16px;
  --body-2-line-height: 24px;
  --body-2-weight: 400;

  --body-3-size: 14px;
  --body-3-line-height: 20px;
  --body-3-weight: 400;

  /* Body (Mobile) */
  --body-1-mobile-size: 16px;
  --body-1-mobile-line-height: 24px;
  --body-1-mobile-weight: 400;

  --body-2-mobile-size: 14px;
  --body-2-mobile-line-height: 20px;
  --body-2-mobile-weight: 400;

  --body-3-mobile-size: 12px;
  --body-3-mobile-line-height: 16px;
  --body-3-mobile-weight: 400;

  /* Medium */
  --body-medium-1-size: 16px;
  --body-medium-1-line-height: 120%;
  --body-medium-1-weight: 500;

  --body-medium-1-size: 14px;
  --body-medium-1-line-height: 120%;
  --body-medium-1-weight: 500;

  --body-medium-1-size: 13px;
  --body-medium-1-line-height: 120%;
  --body-medium-1-weight: 500;

  --body-medium-1-size: 12px;
  --body-medium-1-line-height: 120%;
  --body-medium-1-weight: 500;

  /* Buttons - Links */

  --button-1-size: 18px;
  --button-1-line-height: 24px;
  --button-1-weight: 400;

  --button-2-size: 16px;
  --button-2-line-height: 20px;
  --button-2-weight: 400;

  --button-3-size: 11px;
  --button-3-line-height: 20px;
  --button-3-weight: 400;

  --button-4-size: 14px;
  --button-4-line-height: 16px;
  --button-4-weight: 400;

  /* Fields */
  --fields-1-size: 16px;
  --fields-1-line-height: 24px;
  --fields-1-weight: 400;

  --fields-1-size: 13px;
  --fields-1-line-height: 16px;
  --fields-1-weight: 400;

  --fields-1-size: 12px;
  --fields-1-line-height: 16px;
  --fields-1-weight: 400;

  --fields-1-size: 11px;
  --fields-1-line-height: 16px;
  --fields-1-weight: 400;

  --fields-1-size: 10px;
  --fields-1-line-height: 16px;
  --fields-1-weight: 400;
}
