.modal {
  &__wrapper {
    display: flex;
    background-color: #1f1f1f80;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
  }

  background-color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 936px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
  gap: 32px;
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    &_title {
      font-weight: 600;
      font-size: 22px;
    }
    &_close {
      width: 12px;
      height: 12px;
    }
  }
  &__text-input {
    text-align: left;
    display: flex;
    flex-direction: column;
    div {
      width: 100%;
    }
    input {
      height: 40px;
      font-size: 14px;
      padding: 10px 20px;

      &::placeholder {
        color: var(--neutral-500);
      }
    }
  }
  &__error {
    color: red;
  }
  &__main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 32px;
  }
  &__footer {
    display: flex;
    gap: 8px;
  }
  &__main-comboboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  &__extra-comboboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    label {
      border: 1px solid #000;
      span {
        text-align: start;
      }
      display: flex;
      flex-direction: column;
    }
  }
}
.hidden {
  display: none;
}
